[2017-08-29 13:45] schwefel opened #4 "fdasd: Check for partitions performed too early ?"
Hi,
I'm running fdasd with the -f option specified to loop devices. While this works fine w /dev/loop0, it fails for /dev/loop1 with
[code]
Turns out, that the current code does call
`static void fdasd_verify_device(fdasd_anchor_t *anc, char *name)`
way before the options passed to fdasd invocation are evaluated and then check
`if (minor(dst.st_rdev) & PARTN_MASK)`
does prevent fdasd to work on de

[2017-08-29 13:49] michael-holzheu commented on #4
@hoeppnerj : Could you please have a look?

[2017-08-29 14:07] michael-holzheu commented on #4
@schwefel : Could you please also describe the setup how you create the loop devices?

[2017-08-29 14:51] schwefel commented on #4
Sure, sorry, I missed this. Here are the commands, to repro the scenario:
`dd if=/dev/zero of=loopfile bs=4096 count=4096
losetup -P /dev/loop1 loopfile
fdasd -f -r  /dev/loop1`

[2017-09-04 11:44] sharkcz opened #5 "RFE: get rid of Perl based tools to reduce dependencies"
While working on the "Modular Fedora" project, where one of the goals to reduce the size of the installed content, the team realized that there are some tools written in Perl dragging it into the system. I think the most prominent one is the zipl_helper.device-mapper helper script in zipl, but there are few more.

[2017-09-04 12:22] michael-holzheu commented on #5
@sharkcz : Could you please provide some more information / links on "Modular Fedora"?
Aren't there thousands of perl programs for Linux. Do you want to eliminate them all?

[2017-09-04 12:24] michael-holzheu commented on #5
@oberpar : FYI - since zipl helper explicitly has been mentioned here.

[2017-09-04 13:12] sharkcz commented on #5
The idea is to start with a rather minimal system and then add content on top of that, you can find more at https://github.com/fedora-modularity/hp and https://fedoraproject.org/wiki/Modularity (and more). As the bootloader is always part of the minimal system (on all arches) to make system usable at all it's now dragging Perl into the package set (on s390x). Similar problem on ppc is tracked in h

[2017-09-04 14:05] michael-holzheu commented on #5
Ok, so your goal is that the [base-runtime](https://github.com/fedora-modularity/base-runtime) (?) minimal system does not contain Perl.

Currently for RHEL7.4 we have the following Perl programs in s390utils-base:
[code]

What should be part of the base-runtime? Only glibc?

[2017-09-05 09:12] sharkcz commented on #5
right, respectively removing Perl, which is not used otherwise, is a way to reach the goal

AFAIK that's still not fully defined, but I would expect that none toolkit libs will be available directly, some might come via dependencies, but that can't be relied on.

One can imagine the "base runtime" as init (systemd) + ssh + shell + package management.

[2017-09-06 11:28] michael-holzheu commented on #5
Ok thanks, so what exactly is your suggestion? Rewrite the zipl helper in C and remove the remaining Perl tools from s390utils-base?

[2017-09-06 13:08] michael-holzheu commented on #5
In case we agree to that plan, do you expect IBM to do that or will "someone else" do the job?

[2017-09-06 14:00] sharkcz commented on #5
Good question :-) It could be IBM or RH (or anyone else), depending on time frame, resources, etc. Definitely not the case that we expect only IBM must do it.

BTW the libraries from the util-linux package might be useful for the rewrite.

[2017-09-06 16:36] michael-holzheu commented on #5
Which are GPL v2, no?

[2017-09-06 16:46] sharkcz commented on #5
the libs are under LGPLv2+

[2017-09-14 14:29] hoeppnerj commented on #4
Hi, this issue was fixed internally by skipping the partition check when the force option is specified.
The fix will be available here on github with the next sync.

[2017-09-15 03:11] #4 closed

[2017-09-20 12:37] michael-holzheu commented on #5
@sharkcz : We discussed your issue internally an came to the following conclusion:

- There are no objections against rewriting the zipl helper in C

If you want IBM to do this, you probably should request this via our official distribution channels.
But since we are "open" now, we would be also glad to accept your first contribution ;-)

Regarding the question about util-linux libraries:

Because

[2017-09-22 15:30] sharkcz commented on #5
@r4f4 is looking into it

[2017-10-17 17:27] xnox opened #11 "Continious CI is required"
Continious CI is required to test booting

- rootfs on LVM on DASD
- rootfs on multipath
- rootfs on zfcp / scsi
- rootfs on qemu-kvm virtio scsi

It seems like -f flag got dropped, without fixing zipl helper. Causing inability to boot since at at least v1.39.

[2017-11-02 17:28] michael-holzheu commented on #11
I agree that CI tests would be definitely nice to have for *all* s390-tools. But it is a major effort with having all tools maintainers involved, choosing the right framework and somehow providing the required hardware infrastructure, e.g. DASDs or FCP attached SCSI devices.

At the moment I don't see how this is going to happen.

[2017-11-07 02:44] donald-russell opened #15 "vmur lock scope is too wide; vmur can't wait for a lock to be available; vmur doesn't support tag info for rscs or printers etc."
I have a solution for these problems, but am new to github, Please bear with me as I figuure out how this all works.

Next challenge: How to get myself assigned to this issue?

[2017-11-07 16:10] michael-holzheu commented on #15
@donald-russell : You already address all these issues in PR #14, right? So could you please first rework your patch series in PR #14 so that we can get an overview on what exactly your suggestions are?

If the issue is valid, it will be assigned to our vmur maintainer.

[2017-11-09 20:56] michael-holzheu commented on #15
Closing this one and keep on discussing in PR #14.

[2017-11-09 20:56] #15 closed

[2017-11-15 17:58] Obirvalger opened #17 "ziomon/ziomon_fcpconf: Compilation errors"
Hi, when I try to run ziomon/ziomon_fcpconf I get following errors:
`Global symbol "$map_dev" requires explicit package name (did you forget to declare "my $map_dev"?) at ziomon/ziomon_fcpconf line 61.
Global symbol "$map_dev" requires explicit package name (did you forget to declare "my $map_dev"?) at ziomon/ziomon_fcpconf line 65.
Unmatched right curly bracket at ziomon/ziomon_fcpconf line 67, a

[2017-11-16 16:22] michael-holzheu commented on #17
Your are right. During the GPL->MIT conversion process from 1.39.0 to 2.0.0 obviously one line has been lost.
The following patch fixes the problem:

[code]

[2017-11-16 16:51] #17 closed

[2018-01-03 10:51] sharkcz opened #24 "RFE: make cpuplugd arch-agnostic"
I think the idea behind cpuplugd is useful in general, dynamically add resources when needed and remove them when not needed. And it shouldn't be difficult to use cpuplugd on platform other than s390x, with
[code]
it worked on my x86 machine (for the CPU part). Although more changes will be needed for a proper non-s390x support. I believe it would save power when used with modern multi-core CPUs l

[2018-01-03 12:12] michael-holzheu commented on #24
@gerald-schaefer could you have a look please?

[2018-01-09 15:48] gerald-schaefer commented on #24
I am a little surprised that Intel doesn't seem to have an online attribute for CPU 0, and the concept of "(de)configured" CPUs also seems to be missing, but it shouldn't be too difficult to adjust the cpuplugd code for this (at least get_numcpus(), get_num_online_cpus() and cpu_is_configured(), from a quick glance). The memory hotplug part using the s390-specific cmm memory balloon would also nee

[2018-01-10 10:40] sharkcz commented on #24
I'm planning to play with it more seriously when I get my Power9-based based workstation to save some power/electricity :-) Will let you know about the results.

[2018-02-05 00:24] tmh1999 opened #26 "zipl: On Alpine Linux"
Hello,
I am trying to build s390-tools and run zipl on musl-libc-based Alpine Linux. The compilation is good, with some patches (https://github.com/tmh1999/wip/tree/master/s390-tools). Running zipl sometimes succeeds, sometimes fails. The environment is a KVM vm, boot with a kernel, initramfs, and an ext4 filesystem containing the rootfs.

I narrow down the bug to this line : https://github.com/ib

[2018-02-05 10:56] michael-holzheu commented on #26
@stefan-haberland Could you please have a look please?

[2018-02-05 11:39] stefan-haberland commented on #26
Sure, I will have a look but this will take some time.

[2018-02-08 01:28] tmh1999 commented on #26
This is my bad.
It turns out zipl does require other programs (which one? zdev ? ) in s390-tools in order to function properly at run time. I just built zipl only by modifying TOOL_DIRS in Makefile.
Build-time deps only require libiraries in lib*. There is no run-time deps as far as I know. Maybe I miss the documentation somewhere ?

 Sorry for the fuss. I'm closing this issue.

[2018-02-08 01:30] #26 closed

[2018-02-23 16:18] sharkcz opened #27 "remove WAIT_FOR from 60-readahead.rules"
The WAIT_FOR action has been removed from udev quite long time ago, but it's still used in https://github.com/ibm-s390-tools/s390-tools/blob/master/etc/udev/rules.d/60-readahead.rules#L10

It's causing errors like
`````15:24:33,372 ERR systemd-udevd:Invalid rule /usr/lib/udev/rules.d/60-readahead.rules:10: unknown key 'WAIT_FOR'`````
in system log (journal).

[2018-03-27 14:10] cohuck opened #29 "RFE: add virtio-ccw support to zdev"
Currently, zdev does not support virtio-ccw devices, which makes the output of lszdev in a KVM guest kinda ugly. Example from one of my guests:
[code]

[Note that 3270 gets mapped to generic-ccw as well.]
While we don't have any special attributes for virtio-ccw devices, it still would be nice to add support
* for matching the devices to virtio-net, virtio-blk, etc.
* for adding related info to NA

[2018-03-27 14:51] hoeppnerj commented on #29
@oberpar can you have a look into it?

[2018-03-28 11:08] xnox commented on #27
[code]

Surely we can patch kernel to update the default to the new recommendation? Why kernel should not set this to 512, given that we force it to be that anyway?

[2018-04-25 11:53] markuszoeller commented on #11
@michael-holzheu
The _LinuxOne Community Cloud_ is maybe able to offer the resources you're looking for:
* https://developer.ibm.com/linuxone/
* https://linuxone20.cloud.marist.edu/cloud/#/login

I haven't yet used it personally though.

[2018-05-07 14:16] hoeppnerj commented on #27
Issue fixed via 13596f18da2194186423696d3c00592f591d0fa1

[2018-05-07 14:16] #27 closed

[2018-07-30 10:59] cohuck opened #32 "Output of lscss is confusing with vfio-ccw devices"
Setup: LPAR with one subchannel for a dasd reassigned from the I/O subchannel driver to the vfio-ccw driver (no mdev created yet)

`lscss` shows
[code]
The line for subchannel 0.0.0325 is a bit confusing, as it looks like there is something wrong with the subchannel (previously, I saw output like that only if there was some problem with device recognition in the common I/O layer, as the I/O subcha

[2018-07-30 13:36] cohuck commented on #32
OK, that sounds like we have to live with 'lscss handling of vfio-ccw devices is a bit odd'.

But can we get an update for the man page? It currently states
[code]
That is not really true for vfio-ccw devices.

[2018-07-30 14:15] sebott commented on #32
Good point. I'll add something like:
`For subchannels bound to an alternate driver (most notably vfio_ccw) the device identifier can also be displayed as "none". In this case use the --vfio option to show VFIO specific subchannel information.`

[2018-07-30 16:03] cohuck commented on #32
Possibly s/can/may/ or s/can/will/ ? Otherwise, sounds good to me.

[2018-08-10 10:44] #32 closed

[2018-08-28 10:00] solskogen opened #33 "Get lsluns to display /dev/sdX"
lsluns gives /dev/sgX, but I would rather it to display /dev/sdX instead. Would that be possible?

[2018-08-28 11:45] steffen-maier commented on #33
I'm sorry, but this is beyond the functional scope of lsluns.
See commit e748fff3479f8f4ae7e8262b4913f6d08ff78f66 ("lsluns: enhance usage statement and man page") and commit e5f9279295780bd297f58cc23319878fadbc80f1 ("lsluns: complement alternative tools with lszdev "). Both refer to other tooling that provides what you ask for.
The only reason why lsluns does provide the SCSI generic device is bec

[2018-08-30 14:24] sandeen opened #34 "zipl cannot map reflinked files on XFS"
It was recently recognized that zipl fails on reflinked boot files on XFS (that is, with files which share blocks with another file, i.e. copy on write file snapshots as supported by xfs, btrfs, ocfs2 etc).

This is because the FIBMAP ioctl interface zipl uses to map blocks has been specifically disabled for reflinked files on XFS, to prevent swap from writing to these blocks and bypassing the COW

[2018-09-12 14:45] sandeen commented on #34
PR #36 should resolve this.

[2018-09-17 12:33] #34 closed

[2018-09-26 15:58] xnox opened #37 "vmur devices fail to enable on boot, missing driver stanzas in udev rules"
$ sudo chzdev -e 000c 000d 000e
    $ sudo update-initramfs -u
    $ sudo reboot
    $ lszdev # 000c 000d 000e are not active
    $ sudo systemctl restart systemd-udev-trigger # onlines the missing devices, as vmur module is loaded now

vmur devices such as 000c, 000d, 000e are treated as generic_ccw_subtype devices by zdev. This leads to generating stock udev rules that are only triggered upon de

[2018-09-27 10:43] xnox commented on #37
I think `vmur` devices need to become either a top level type, or a subtype of generic. Getting a bit lost in the code, as to where it is the easiest to override this.

[2018-10-10 13:02] cohuck opened #43 "lsqeth crashes if the qeth module is not loaded"
Running 'lsqeth' if the qeth driver is not loaded gives you:

and the core is dumped.

This code in main() (lsqeth.c) where it apparently crashes looks fishy:
[code]
If the qeth module is not loaded, /sys/bus/ccwgroup/drivers/qeth/ will not exist. Consequently, __scandir() when called by util_scandir()->scandir_regexp() will fail to open it and return -1 (even though the documentation states that

[2018-10-15 11:41] oberpar commented on #37
A new subtype for vmur seems like overkill to me (and would need to be repeated for every other generic-ccw device type).

I can think of an easy way to handle this within the existing generic-ccw subtype:

- ccw.h: add a new field 'bool any_driver' to struct ccw_subtype_data
- generic_ccw.c: set generic_ccw_data.any_driver to true
- udev_ccw.c: if data->ccwdrv is not set, but data->any_driver is

[2018-10-16 09:05] xnox commented on #37
That's a good and easy start. Plus I hope that generic_ccw devices are not that many / are not typical to have enabled like that.

Also, if we are on the system and onlining the device, should we not attempt to read the actual driver with ccw_get_driver() and encode whatever that says?

[2018-10-16 09:12] xnox commented on #37
ehm.... doesn't all of the above simply then reduces to simply setting `generic_ccw_data.ccwdrv = "*"` without a need to actually add the `any_driver` bool.

[2018-10-16 12:31] sharkcz opened #46 "zkey and zkey-cryptsetup relinked during "make install""
The zkey and zkey-cryptsetup tools are relinked during "make install" using a default rule, so the distro LDFLAGS are not passed to it. Commit 0bf4f1b957983267ccaf9b6b70c68c62bf1471f2 has no effect on it.

[code]

[2018-10-19 13:35] #37 closed

[2018-10-19 13:35] #43 closed

[2018-10-19 13:43] hoeppnerj commented on #43
fyi, the just pushed fix addresses only the behaviour of [util_ptr_vec_free()](https://github.com/ibm-s390-tools/s390-tools/blob/master/include/lib/util_base.h#L41). I found numerous places in other tools that don't check for the util_scandir() return value as well. This will be addressed in another patch series.

Thanks for reporting!

[2018-10-22 12:04] #46 closed

[2018-10-22 12:06] hoeppnerj commented on #46
Thanks for reporting!

[2018-10-22 14:09] sharkcz commented on #46
Thanks for fixing the main issue. What remains is that the *.o.d source/header dependency files are still regenerated during install, I haven't seen it for other dirs than zkey.

[2018-11-20 18:52] xnox opened #48 "Allow --pairs for chzdev"
I'm working on UI for operating and configuring z devices. I very like --pairs output generated by lszdev (as it is easy to consume automatically), but I cannot get the same output from chzdev.

E.g. it would be nice to have the "pairs" output for the following comamnds:

[code]

It's a really comprehensive amount of information, thus I wouldn't want to re-hardcode all of this output, but instead

[2018-11-21 13:49] oberpar commented on #48
Sounds like a good idea! I'm open for patches that introduce this type of feature. Preferrably it should mirror what is implemented in lszdev (--pairs).

[2018-12-10 16:22] yarda opened #49 "zipl: please add support for multiple initrds"
In Fedora / RHEL we use modified BLS [1] which requires multiple initrds support. It's generally useful feature. We utilize multiple initrds in e.g. Tuned SW.

I am not sure about s390x, but usually it requires just concatenation of the initrd images in the memory which is trivial operation, so hopefully this is not hard to implement.

There is original downstream bugzilla [2].

[1] https://fedora

[2018-12-10 16:24] sharkcz commented on #49
adding our BLS expert @martinezjavier

[2018-12-10 16:37] martinezjavier commented on #49
@yarda @sharkcz note that this is not only a limitation of the BLS support but zipl itself. As far as I know there isn't support for multiple initrds images in neither the `zipl.conf` file nor the `zipl` command line tool.

So I would also like the opinion of the zipl folks to on how to properly support this: @hoeppnerj, @oberpar, @stefan-haberland

[2018-12-10 16:44] yarda commented on #49
@martinezjavier thanks for info. Maybe for the start you could just ignore successive initrd images in the BLS entries conf, e.g. with some messages. I think it's better than error. I am going to add dirty workaround to our Tuned SW for zipl until properly resolved in zipl.

[2018-12-10 16:44] sharkcz commented on #49
@martinezjavier right, that's why I asked @yarda to bring it here.

[2018-12-18 11:48] oberpar commented on #49
I don't think this proposed change fits into zipl's initrd handling:.

zipl treats each file specified on the command line or in the zipl.conf file as a separate _"load component"_, with a distinct load address and handling during boot. Specifying multiple initrd files (as separate command line/config file entities) that are then concatenated into one load component does not fit this design.

Spec

[2019-01-28 16:00] sharkcz opened #52 "systemd complains about using /var/run dir for PID files"
Some of the unit files in systemd directory use /var/run directory for PIDFiles and systemd complains with eg.
[code]
Can we switch to /run? Or use a substitution from a Makefile variable?

[2019-01-28 17:19] hoeppnerj commented on #52
I found a few other occurrences where we use /var/run and I think it's totally fine to change these to /run.
Please send a PR with the changes if you want.

[2019-02-13 13:50] sharkcz opened #54 "zipl miscompiled with gcc9?"
This is more a heads-up than anything else, because I don't have clear evidence yet. But we see boot failure in Fedora when the boot is prepared with zipl compiled with gcc9, while using one still compiled with gcc8 works. Specifically s390utils-2.7.1-4.fc30 is bad and s390utils-2.7.1-2.fc30 is good.

What is clearly different is the /boot/bootmap file, it differs when created by the 2 different z

[2019-02-13 14:20] hoeppnerj commented on #54
Thanks for the heads-up. Just untangle a possible confusion, s390utils-2.7.1-4.fc30 is compiled with GCC9 and s390utils-2.7.1-2.fc30 with GCC8 then? Or is the -4 version generally broken?
Are there any code changes between -2 and -4?

I assigned our zipl maintainer and if it turns out to be a GCC issue, I'll add one of our tool chain guys to have a look as well.

[2019-02-13 14:32] sharkcz commented on #54
no code change between -2 and -4 (see https://src.fedoraproject.org/rpms/s390utils/commits/master), -2 is built with gcc8, -4 (and -3 too) with gcc9

[2019-02-21 10:01] xnox opened #55 "zkey crypttab generates invalid entries for plain type devices"
The correct syntax as implemented by systemd-cryptsetup and by debian's crypttab package crypttab process is ',plain' or ',luks2' etc to specify the type. 'hash=plain' is invalid for a plain type entry.

[2019-02-21 10:03] xnox opened #56 "zkey cryptsetup should automatically downgrade password derivation on low memory systems"
As mentioned in the https://www.ibm.com/support/knowledgecenter/linuxonibm/com.ibm.linux.z.lxdc/lxdc_debug.html#lxdc_debug_modules__lxdc_crypt_problem

On systems with less than 1GB of RAM, the `zkey cryptsetup` command should automatically generate `--pbkdf pbkdf2` possibly with a warning. As on large enough systems, we should be using the cryptsetup compiled defaults / strong key derivation func

[2019-02-21 10:13] xnox commented on #56
Ah, this is fixed in https://github.com/ibm-s390-tools/s390-tools/commit/a69470d7e02af2d7d6a4c781eef57727c0672fc0 in v2.8.0

[2019-02-21 10:13] #56 closed

[2019-02-21 15:02] ifranzki commented on #55
I understand about 'hash=plain' being invalid (I will fix this), but I don't understand about ',plain' or ',luks2'. Why the comma in front of plain or luks?

The generated crypttab entry currently looks as follows:
`enc-disk        /dev/dasda1      /etc/zkey/repository/plain.skey plain,cipher=paes-cbc-plain64,size=512,hash=plain`

So the 'plain' keyword is as first in the options, so I don't think

[2019-02-22 08:24] xnox commented on #55
I was trying to point out that it is just a "key" by itself, not a "key=value" parameter. as in 'plain' by itself is the correct syntax. Sorry for confusion.

So systemd-cryptsetup i believe does choke up on the ',hash=plain' bit and it should be removed. Otherwise it is valid way to declare the type the "plain," start of it.

However, on Ubuntu, we do not normally specify devices as `/dev/kerneln

[2019-02-22 08:36] xnox commented on #55
I believe the crypttab parser in Debian/Ubuntu cryptsetup package for initramfs-tools unlocking wants a specifier. You are correct that cryptsetup can work out if things are luks1 or luks2 based on luks keyword, but i wonder if we want to be more specific or not. Let me get back on that.

[2019-02-22 09:43] ifranzki commented on #55
nvme0n1p7_crypt UUID=a228a613-c3d2-42ec-8799-2b637afc4dce none luks,discard
is the structure of entries that I would like cryptsetup crypttab generate. ie. Use UUID= and always specify discard option.

Currently zkey crypttab generates entries with the device name exactly as it is associated with the key. When generating a key you can associate volumes with the key. The user is free to specify wha

[2019-02-27 13:01] sharkcz commented on #54
Hi, have you already got more details about the culprit? Shall I keep looking into it too? Because it makes Fedora-to-be 30 installations unusable.

[2019-02-27 17:55] hoeppnerj commented on #54
We're currently quite low on resources. If you've got the time to look into it, that'd be much appreciated! Thanks!

[2019-02-27 18:57] sharkcz commented on #54
OK, will focus on it. BTW don't you have a tool that would convert the boot records and the bootmap to human readable format?

And for the record - builds with ubsan and asan sanitizers didn't reveal anything wrong.

[2019-03-01 13:55] sharkcz commented on #52
fixed via commit 847f16f632d88c539b84292e8297bb4932562d6e

[2019-03-01 13:55] #52 closed

[2019-03-06 19:25] xnox opened #58 "zkey cryptsetup -r asks passphrase three time interactively, should support keyfile"
I'm using luks2, and when running `zkey cryptsetup -r` it asks the passphrase three time (twice by cryptsetup, and once by zkey-cryptsetup).

Normally, when using cryptsetup one can specify a keyfile with a passphrase as the second options, or as a keyarg option `--key-file`

It would be nice if one could pass `--key-file /run/path/to/passphrase-file` to `zkey cryptsetup` command which would then

[2019-03-07 07:44] ifranzki commented on #58
Good idea. Will take that into consideration.....

BTW: zkey-cryptsetup already has a --key-file option (together with --keyfile-offset and --keyfile-size) that behaves just like the equivalent options of cryptsetup.

[2019-03-07 13:11] #55 closed

[2019-03-08 18:51] sharkcz commented on #54
So the problem is that stage2 is crashing when clearing the BSS section in memory (https://github.com/ibm-s390-tools/s390-tools/blob/master/zipl/boot/libc.c#L359)

disassembly of initialize() from gcc9 compiled zipl
[code]

[2019-03-08 21:01] sharkcz commented on #54
Further tracing shows that __bss_start (in R2) is 0x0000 for gcc9 zipl, while it is the expected 0x5200 for gcc8 zipl. Like the BSS section is not created properly.

[2019-03-08 21:15] sharkcz commented on #54
And commands to reproduce the crash
`dd if=/dev/zero of=/boot/vmlinuz bs=1k count=70 && zipl -t /boot -i /boot/vmlinuz && reboot`
You won't get to the `Booting default` message that would normally appear.

[2019-03-09 15:07] sharkcz commented on #54
And the root cause is that gcc9 emits a new section .rodata.cst8 for some literals and it isn't included in --only-section parameters when creating the *.bin images with objdump. PR follows.

[2019-03-12 10:03] stefan-haberland commented on #54
Thanks a lot for debugging this. I will have a look at the PR asap and include it.

[2019-03-21 11:21] #58 closed

[2019-03-21 11:23] hoeppnerj commented on #54
Fixed via cdb23f8d2251d865f0a8aa46f8ca886441048e13

[2019-03-21 11:23] #54 closed

[2019-06-24 13:42] stefan-haberland opened #64 "zipl: error when title is not the first field in BLS file"
following error occurs when the title entry is not the first line in a BLS file:

`Error: Config file '/root/zipl.conf': Line 0: keyword 'image' not allowed in section 'defaultboot'
`

zipl.conf:

[code]

BLS file:

[code]

[2019-06-25 02:58] zhengxiaomei123 commented on #64
zipl uses the BLS snippet title field to create a new menu entry, when in BLS snippet the initrd field is before title, zipl wrongly assumes that initramfs is for the only section it has defined (defaultboot).
if title before initrd and linux, it should work, since by the time it parses the initrd and linux, it would already created a new section for 'Fedora 29 (CoreOS preview) 29 (ostree)'.

[2019-06-25 03:01] zhengxiaomei123 commented on #64
there are some paste error
whatever the  correctly worked one is :
title Fedora 29 (CoreOS preview) 29 (ostree)
version 1
initrd /ostree/fedora-coreos-c2182f8fe3ba1f8ffe5dbc9ee89503637e06a7e1d7a0e12b50d4d0d4665c063e/initramfs-5.0.9-200.fc29.s390x.img
options ostree=/ostree/boot.1/fedora-coreos/c2182f8fe3ba1f8ffe5dbc9ee89503637e06a7e1d7a0e12b50d4d0d4665c063e/0 ignition.firstboot
linux /ostree/fedor

[2019-07-12 10:40] sharkcz opened #66 "DUP FUNXC when stripping zfcpdump_part"
Rebuild of s390-tools master in Fedora Rawhide (gcc-9.1.1-2.fc31.s390x and binutils-2.32-17.fc31.s390x) prints dozens of "DUP FUNXC" messages, see bellow.

[code]

[2019-07-12 11:05] sharkcz opened #67 "BOOT_IMAGE not set for /proc/cmdline"
When using recent zipl for booting an up-to-date Fedora Rawhide system (uses BLS boot entries), I don't see the BOOT_IMAGE variable being set by the bootloader, so it doesn't appear in /proc/cmdline. We get the same behaviour with RHEL-8.1 (work in progress, see bug [1728677](https://bugzilla.redhat.com/show_bug.cgi?id=1728677)) so I suspect the secure boot patches might break it. Looking further

[2019-07-12 11:11] stefan-haberland commented on #67
Where did you IPL from? DASD or SCSI? Was secure boot enabled?

[2019-07-12 11:26] sharkcz commented on #67
DASD in z/VM guest, secureboot not used

[2019-07-12 11:27] stefan-haberland commented on #67
Thanks, I will have a look.

[2019-07-12 12:01] hoeppnerj commented on #66
I have only binutils-2.31.1-29.1.fc30.src.rpm and gcc-9.1.1-1.fc30.src.rpm available here at the moment and can't reproduce your issue with those version. Is there a way to install your versions of gcc and binutils on an F30 installation? Can I download the rpms already somewhere and install them manually or so?

[2019-07-12 12:17] sharkcz commented on #66
The old school method is to use a Rawhide chroot prepared by the mock tool. It can be managed by the package maintainers' fedpkg tool.

I've just used following to reproduce
[code]
It checks out the s390utils package and rebuilds in a fresh rawhide chroot with all deps installed. Then with `mock -r fedora-rawhide-s390x shell` you enter the chroot, the build directory is `/builddir/build/BUILD/s390

[2019-07-12 12:29] sharkcz commented on #66
Or use containers :-)
[code]

[2019-07-12 13:57] stefan-haberland commented on #67
Looks like stage 2 overwrites the extra_param when loading the stage 3 parameter page. I need to shuffle around the memory area used there.

[2019-07-16 15:06] cgwalters commented on #64
We could pretty easily change ostree for this if it helps; what exactly is zipl expecting here?  title, linux, options, initrd in that order?

[2019-07-16 15:44] martinezjavier commented on #64
@cgwalters I think the only constraint is that the title must be the first field. Since as @zhengxiaomei123 mentioned, zipl uses the title field to add a new IPL section that will be the one associated with the other fields in the BLS snippet.

[2019-07-22 21:50] tuan-hoang1 commented on #64
@cgwalters @martinezjavier : and also no blank line in loader entries file or else zipl will complain.

[2019-07-22 21:51] tuan-hoang1 commented on #64
But I think it's zipl's business to peacefully discard blank lines and accept any order of loader entries file.

[2019-07-29 07:39] stefan-haberland opened #68 "zipl: core dump with >10 BLS entries"
getting zipl core dump with >10 BLS entries

[root@t35lp62:~](0)# zipl
Using config file '/etc/zipl.conf'
Using BLS config file '/boot/loader/entries/e03e4d381e5b4b1e8613675d4e0cfe51-5.3.0-rc1noscsibatch-next-20190724.conf'
Using BLS config file '/boot/loader/entries/e03e4d381e5b4b1e8613675d4e0cfe51-5.3.0-rc1cleartagged-next-20190724.conf'
Using BLS config file '/boot/loader/entries/e03e4d381e5b4b

[2019-07-31 14:05] #67 closed

[2019-09-18 15:54] tuan-hoang1 opened #69 "zipl: relative path for BLS values"
Hi Javier @martinezjavier and Stefan @stefan-haberland,

Currently, zipl assumes the kernel and ramdisk paths to be absolute, both in zipl.conf and BLS conf files, or else it will print out file not found error to user.

In Fedora/RHEL CoreOS, a BLS file might look like:
[code]
which conforms with the BLS spec, as it says the `linux` and `initrd` fields `shall be a path relative to the $BOOT direc

[2019-09-18 15:55] tuan-hoang1 commented on #69
Of course we can fix this in downstream Fedora/RHEL CoreOS, it would be nice if upstream allows this behavior wrt the spec.

[2019-09-18 16:05] tuan-hoang1 opened #70 "zipl: options to allow BLS files only, aka no zipl.conf"
Hi Stefan @stefan-haberland,

If BLS conf files are used, a `/etc/zipl.conf` might be as simple as below from Fedora 30:
[code]
The code that generated this zipl.conf file is at : https://github.com/rhinstaller/anaconda/blob/master/pyanaconda/bootloader/zipl.py#L132

@martinezjavier suggested if we could have a way to ***not*** to have this simple zipl.conf file existed.

My suggestion is to have

[2019-09-19 10:42] tuan-hoang1 commented on #70
Quick talk with Stefan today, we decided I would create a patch for this feature. Doing now.

[2019-09-19 16:08] lucab commented on #70
Here is an alternative suggestion, which fits in the CoreOS model and avoid hardcoding configuration in code. I don't know a lot about zipl though, so feel free to adapt to your case.

The lookup logic for `zipl.conf` could be augmented to fall through these directories, in order of priority, and select the existing path with the highest priority:
 1. `/run/zipl/zipl.conf`
 2. `/etc/zipl.conf`
 3.

[2019-09-19 16:09] sharkcz commented on #70
@tuan-hoang1, please also set the secure=auto in the default config.

[2019-09-19 16:13] sharkcz commented on #70
Using `/lib/s390-tools/zipl.conf` as default is good idea too.

[2019-09-19 16:43] martinezjavier commented on #69
@tuan-hoang1 I don't think the `/boot` prefix should be harcoded in `zipl`. It's true that the BootLoaderSpec says that the paths should be relative to the $BOOT directory, but the spec makes a lot of assumptions that are only valid for UEFI.

In the case of `grub2` for example, the path is relative to the root of the partition where `grub2` searches for the kernel and initramfs images. So if `/bo

[2019-09-20 12:44] stefan-haberland commented on #69
Hi @tuan-hoang1 Tuan,

I have to agree with Javier. Hardcoding /boot/ does not look like a good idea.
You said it should be path relative to the $BOOT directory. But this could be anywhere mounted in the system. Taking the target information into account (as Javier suggested) could be an idea to have a more flexible way. At least zipl always need to have a target directory set to know where to wri

[2019-09-30 16:48] tuan-hoang1 commented on #70
@stefan-haberland , @martinezjavier : Sorry, was preempted by other tasks ... How does the very simple patch below look ?:
[code]

[2019-09-30 16:51] sharkcz commented on #70
I like it :-)

[2019-09-30 17:05] martinezjavier commented on #70
@tuan-hoang1 looks good to me.

[code]

I would add a comment header to this example explaining that is a minimal config that could be used when the IPL sections are defined in BLS snippets, something like the following:

[code]

And should also document in both man pages the behavior that you are introducing here.

[code]

I would also add support for `/run/zipl/zipl.conf` as @lucab suggested. Th

[2019-09-30 22:50] tuan-hoang1 commented on #70
Many thanks for super helpful comments ! TIL how to write a man page. Heck, it feels good !
Since we are getting close to a final patch, I create this PR: https://github.com/ibm-s390-tools/s390-tools/pull/71

[2019-10-01 10:59] tuan-hoang1 commented on #69
@martinezjavier

On x86 FCOS,
[code]
And I see that linux+initrd entries also start with `/ostree`. Now I have not fully read/understand the `grub-core/commands/blscfg.c` source, but I guess it would treat `/ostree/fedora-coreos-<commit-id>/initramfs-5.2.11-200.fc30.x86_64.img` as relative to grub's root (which is the partition labeled as boot it finds earlier).
So, this is somewhat similar to zip

[2019-10-01 11:15] martinezjavier commented on #69
The `$boot` and `$root` are not the same than the Linux boot and root partitions. These variables are set to the device and partition that are used to store the grub config file and modules (`$boot`) and to store the kernel and initramfs images (`$root`).

On a legacy BIOS install, both the `grub.cfg` file, grub modules, kernel and initramfs images are in the same partition (either the Linux boot

[2019-10-01 13:20] martinezjavier commented on #68
@stefan-haberland sorry I missed this issue before...

I was able to reproduce it by generating BLS snippets with the following script:

[code]
And then zipl segfaults:

[code]

I'll investigate what could be causing this.

[2019-10-01 17:10] tuan-hoang1 commented on #69
And this partition could be the same than $boot or $root as explained before. But that's an unrelated concept (yeah, I know it's confusing because are named the same).

Okay now it seems much clearer to me.

I think zipl is aligned with `$root`(where kernel + initramfs are stored), because it always looks for absolute paths in root partition. Below is an example where zipl works:
[code]
`/boot` is

[2019-10-02 17:12] tuan-hoang1 commented on #69
Okay for this I think I/we can come up with a patch soonish for this.

I just figured that even if we got this one and the issue#70 fix in s390x-tools upstream, it gotta be pretty hard to get into RHCOS in time. So, those 2 are pretty much serving FCOS in the mean time, for which I would like postpone a little bit.

We will have to work around these 2 issues in downstream FCOS/RHCOS then, I believ

[2019-10-03 08:04] martinezjavier commented on #69
Sure, I'm not familiar with the RHCOS schedule but happy to chime in for any downstream discussion.

[2019-10-03 08:29] martinezjavier commented on #49
Based on the comment from @oberpar we should probably close this issue, since the proposed change doesn't fit into zipl design and instead the initrd concatenation has to be done by another component that invokes zipl.

[2019-10-18 11:06] tuan-hoang1 commented on #64
Just realized blank line issue seems to be fixed in `https://github.com/ibm-s390-tools/s390-tools/commit/53f166673d0a338822362f500da4fa33df6c3296` but not backported to F29/F30 yet.

[2019-10-24 06:46] fheimes opened #75 "Support a list of types in lszdev to limit the output to multiple types"
Today lszdev can either only list all ccw types and their devices:
lszdev
or only one specific type and its devices, like:
lszdev qeth

It would be desirable to support a (for example comma separated) list of (commonly used) types (to be able to filter out some not commonly used ones, like lcs and generic-ccw).
For example this could look like:
lszdev dasd,zfcp,qeth
(with the usual output that we

[2019-11-25 18:40] markkp opened #77 "dasd_is_ro in libdasd/dasd_ioctl.c doesn't close the DASD volume before exiting"
Most the routines in dasd_ioctl.c open a file descriptor for the device that is passed to them, perform an operation on it, and then close the file descriptor before returning. The dasd_is_ro routine doesn't do that:
int dasd_is_ro(const char *device, bool *ro)
{
	int fd, val;

	fd = dasd_open_device(device, O_RDWR);
	RUN_IOCTL(fd, BLKROGET, &val);
	*ro = (val != 0) ? true : false;

	return 0;
}

[2019-11-26 12:57] hoeppnerj commented on #77
Hi Mark,

that's definitely a bug. Good catch. I will fix it.

[2019-12-02 10:45] sharkcz commented on #66
No such issue in recent Fedoras, closing.

[2019-12-02 10:45] #66 closed

[2019-12-12 17:18] #77 closed

[2019-12-17 09:46] sharkcz opened #78 "set BOOT_IMAGE in bootmap"
There are some use cases that rely on having BOOT_IMAGE= set. There is a inconsistency on the s390x platform, because booting from DASD sets it, but booting from virtio disk in KVM does not. When looking at other platforms, then grub2 sets it on x86, aarch64, pseries (ppc).

Please read
https://bugzilla.redhat.com/show_bug.cgi?id=1782026 (the original request)
https://lists.gnu.org/archive/html/qe

[2019-12-17 12:50] borntraeger commented on #78
Looking at https://bugzilla.redhat.com/show_bug.cgi?id=1415032 what you actually want it that the zipl program appends "BOOT_IMAGE=<kernel file name after last "/"> for all variants (DASD, SCSI, virtio).
Is that correct?
That would mean that  adding "BOOT_IMAGE=<kernel file name after last "/"> when writing the boot records (and not during boot) would actually solve your problem?

[2019-12-17 13:17] Prashanth684 commented on #78
As of today on a zVM system, BOOT_IMAGE is a number indicating the selected boot record. For the purpose specified in https://bugzilla.redhat.com/show_bug.cgi?id=1782026, it needs to be the path to the kernel file name. It would be nice to be consistent across all variants to have just one or the other. I would prefer the kernel file name since that is how it is specified for other arches and used

[2020-02-12 13:38] sharkcz opened #80 "chzdev and --by-path doesn't work with LVM"
My root fs is on a LV on a multi-DASD LVM setup. `chzdev --export --by-path /` returns just the first device, not all of them. `lsblk` and `findmnt` are available. As a result dracut adds incomplete info into the initrd and boot fails, because root fs can't be found.
[code]

[2020-02-17 16:30] sharkcz commented on #80
for the record, I have no issues with zdev and root on LVM in Fedora 30 ...

[2020-02-21 15:56] oberpar commented on #80
Seems to be due to a bug or changed behavior in `lsblk`:
[code]
Note how the entry for "test" is listed multiple times.
[code]
In the --pairs output the entry for "test" is only listed once. Compare that to the output of an older lsblk version:
[code]
zdev relies on the repeat listing of these entries to determine the list of block devices associated with a compound device mapper device.

[2020-02-25 08:59] sharkcz commented on #80
@karelzak, could you take a look on the behavior change for lsblk above?

[2020-02-25 14:47] karelzak commented on #80
Unfortunately, it seems like a regression in v2.34. The issue will be fixed in v2.35.2 (I'll backport it ASAP to Fedora 32 too)

Anyway, it seems a little bit fragile to depend on the way how lsblk order standard output etc. The best way would be to use JSON where you have all the information in complete parent->child hierarchy.

For example RAID1 on sdc{1,2,3,4}:
[code]
I guess  json-c can parse

[2020-02-25 15:06] sharkcz commented on #80
For the record, json-c library is already used by the zkey tools, so it wouldn't be a new dependency.

[2020-02-26 10:53] oberpar commented on #80
Sounds like an idea for a future improvement in zdev. Thanks for pointing this out.

Can we close this issue with the reference to the `lsblk` change that should fix the problem?

[2020-02-26 11:29] sharkcz commented on #80
Yup, let's close it as it has been fixed in `lsblk` via https://github.com/karelzak/util-linux/commit/91b636b5654576d0b808d0030ca9d773099e1db9

[2020-02-26 11:29] #80 closed

[2020-02-26 13:51] hoeppnerj commented on #75
Hi,
at the moment there are no resources on our side to implement such feature. However, if you want you can of course implement it yourself and provide a PR.
Thanks for pointing this our nonetheless.

[2020-02-26 14:16] hoeppnerj commented on #49
Closing as per previous comments.

[2020-02-26 14:16] #49 closed

[2020-03-16 10:41] edward6 commented on #64
It seems that the scan code makes an implicit assumption that title is always on the top. I would add an early explicit check for this (to make sure that the title is on the top). If the check is failed, then return an error with a message that "title is not on the top", which is a hint for user to edit BLS file properly.

[2020-03-16 11:05] stefan-haberland commented on #64
There is no real need to have the title field in the first position, also the BLS documentation does not say this. So I would prefer to have the scanner sort the fields properly.

[2020-03-16 11:34] edward-ibm commented on #64
"Title" is something which is always on the top - I don't think that it needs to be documented . So, I would first start from identifying a real need for having it not on the top (just because it will add a complexity to the implementation).

[2020-03-17 14:14] xnox opened #83 "Why simple refactoring fixes from 2018 getting code-dropped in 2020?"
Why simple refactoring fixes from 2018 getting code-dropped in 2020?

Can you please streamline your processes of releasing non-feature bugfixes, refactors, whitespace changes, such that they land publically as soon as they are developed? And not a year and a quarter later?

[2020-03-17 14:51] hoeppnerj commented on #83
Changes are pushed upstream fairly regularly. The only commits from 2018 that were pushed recently were related to the FCP Endpoint Security feature. Most of the time there are internal reasons that prohibit a push to upstream and delay the public availability.

I can't see any of the mentioned non-feature bugfixes, refactors, whitespace changes that would've been made back then. Quite a few chang

[2020-03-18 11:48] xnox commented on #83
I don't have immediate concerns about the code that has been made public.

My concern is with the internal reasons that prohibit a push to upstream and delay the public availability and my wish to eliminate those.

Ubuntu is downstream, and for all other hardware vendors we integrate public trees that are not yet merged upstream for toleration and exploitation of unreleased hardware. E.g. we pull

[2020-04-06 14:27] stefan-haberland opened #84 "BLS error message for non BLS errors"
In some cases zipl throws a BLS error message for errors that are not BLS related.
For example a wrong initrd is specified and leads to

Error: BLS parsing '/boot/loader/entries': No such file or directory

It should lead to the correct error message:

Error: Ramdisk file '/boot/initrd-missing' in section 'head': No such file or directory

[2020-04-06 15:02] stefan-haberland commented on #84
@martinezjavier

maybe we can just remove the call to scan_check_bls() in job.c.

check_job_ipl_data() does the checking for file existence as well and provides the correct error message. Just without the "BLS parsing" prefix.

For example

missing file in zipl.conf:
[code]

missing file in a bls.conf:
[code]

The user just has to look up where the config comes from. Which most likely is the last

[2020-04-24 12:49] sharkcz commented on #84
@stefan-haberland, I like the idea, the "Error: BLS parsing '/boot/loader/entries': No such file or directory" is often confusing.

[2020-04-24 12:54] martinezjavier commented on #84
Sorry for not answering this before, I missed the mention somehow...

This was added in commit d71628326d8 ("zipl: add value of target= as search path for BLS case") by @tuan-hoang1, so I would like to know his opinion to make sure that we don't regress his use case.

[2020-04-24 13:36] stefan-haberland commented on #84
Thanks for the hint. I missed that I should have added @tuan-hoang1 as well. Will wait what he says.

[2020-04-29 12:56] tuan-hoang1 commented on #84
My only intention of `scan_check_bls()` was to silently add the value of `target=` in zipl.conf, usually `/boot` string, into search paths of kernel and initrd fields in zipl.conf, if searching from `/` is not found.

At the time I thought of 2 places to do this: 1 is `scan_check_bls()`, and 2 is `scan_bls_field()`.

IIRC in `scan_bls_field()` it was harder to get the value of `target=` as easy as

[2020-05-31 09:37] vapier opened #86 "genprotimg/boot fails to compile and doesn't abort build"
the new genprotimg doesn't compile with recent tools, and when it fails, it doesn't correctly abort the build.

[code]

snippet:
[code]

[2020-06-18 12:05] huth opened #88 "KVM guests abort in zipl stage 3 when bootindex is not specified"
We are currently facing a weird issue that seems to have something to do with changes in the zipl stage 3 loader code: After using the latest version of zipl in a KVM guest (I'm using commit 53b949926f1bf0c6 right now), and shutting down the guest, it is not possible to start the guest anymore. The boot process aborts:

$ qemu-system-s390x -enable-kvm -m 2G -nographic  -d guest_errors \
 -blockdev

[2020-06-18 12:12] huth commented on #88
If I replace the "-enable-kvm" with "-accel tcg -d in_asm" in the QEMU command line, I can see that these are the last instructions that are executed by the guest:

0x000000000000a7fc:  lay	%r15,-24(%r15)
0x000000000000a802:  lg	%r1,0(%r5)
0x000000000000a808:  stg	%r2,168(%r15)
0x000000000000a80e:  stg	%r1,160(%r15)
0x000000000000a814:  lpswe	160(%r15)

... looking at the addresses of the code, it

[2020-06-18 12:18] huth commented on #88
... and I forgot to mention, the guest boots fine if I add a "bootindex=1" to the device parameter:

qemu-system-s390x -enable-kvm -m 2G -nographic -d guest_errors \
-blockdev node-name=file_image1,driver=file,filename=/path/to/guest.qcow2 \
-blockdev node-name=drive_image1,driver=qcow2,file=file_image1 \
-device virtio-blk-ccw,id=image1,drive=drive_image1,bootindex=1

[2020-06-18 16:03] huth commented on #88
I've bisected the issue, and ended up here:

e67f6300862d939d212d79c4ce5e1249102ddcd3 is the first bad commit
commit e67f6300862d939d212d79c4ce5e1249102ddcd3
Author: Stefan Haberland <sth@linux.ibm.com>
Date:   Mon Mar 30 22:13:06 2020 +0200

    zipl: check for valid ipl parmblock lowcore pointer

    The lowcore parmblock pointer is not valid in every case. For example
    it is invalid for CCW

[2020-06-19 13:00] borntraeger commented on #88
It looks like the zipl stage 3 boot loader panics when the diag308 store fails.

unsigned int store_ipl_parmblock(struct ipl_pl_hdr *pl_hdr)
{
        int rc;

        rc = diag308(DIAG308_STORE, pl_hdr);
        if (rc == DIAG308_RC_OK &&
                pl_hdr->version <= IPL_MAX_SUPPORTED_VERSION)
                return 0;

        return 1;
}
but if we do not have a boot config we return:
DIAG

[2020-07-06 12:27] xnox opened #89 "zfcpdump README is out of date"
I think the zfcpdump code now expects for kernel image to be at `/lib/s390-tools/zfcpdump/zfcpdump-image`, yet https://github.com/ibm-s390-tools/s390-tools/blob/master/zfcpdump/README.part#L34 mentions the previous name of `/lib/s390-tools/zfcpdump/zfcpdump_part.image`

Please fix the docs to match the current code.

[2020-07-17 16:06] #84 closed

[2020-07-31 11:32] sharkcz commented on #88
fixed via commit 943c5dc51d493fd89f8c1b0760656446d5653be6, so it can be closed

[2020-10-12 11:20] #64 closed

[2020-10-15 17:45] markkp opened #91 "fdasd fails if sysfs is mounted with "mount -t sysfs none /sys""
util_proc_mnt_get_entry in /libutil/util_proc.c will only succeed if sysfs is mounted via a command like this:
mount -t sysfs sysfs /sys

If a script mounts it with:
mount -t sysfs none /sys

Then util_proc_mnt_get_entry only checks to see if entry->spec is equal to "sysfs", so it fails.

The code should be broadened a bit to check entry->vfstype as well as entry->spec.

[2020-10-15 20:33] markkp commented on #91
[fix.check.for.sysfs.mount.patch.txt](https://github.com/ibm-s390-tools/s390-tools/files/5387621/fix.check.for.sysfs.mount.patch.txt)

This one-line change may or may not be the appropriate fix, but it does seem to work, and still fails when /sys is *not* mounted.

[2020-10-15 23:20] markkp opened #92 "dasd_get_host_access_count libdasd/dasd_sys.c fails when referencing a loopback mounted device"
When using "fdasd -f /dev/loop0" the dasd_get_host_access_count routine in libdasd/dasd_sys.c tries to access the file /sys/bus/ccw/devices/"busid"/host_access_count. For DASD images mounted via a loopback device, that fails.

This results in the following message being output:
WARNING:
Disk /dev/loop0 is online on operating system instances in 263849296 different LPARs.
Ensure that the disk is no

[2020-10-21 09:38] sharkcz opened #93 "handling of the EKMF Web plugin and library"
`s390-tools 2.15.0` have added EKMF Web plugin and support library to the set of produced libs and tools. But they don't follow the best practices on how they can be properly distributed.

- plugins like `zkey-ekmfweb.so` should live in `$libdir/$project` so they can be distinguished from regular shared libraries and not interfere with automatic dependency generators
- both plugins and libraries s

[2020-10-21 11:16] sharkcz commented on #93
also `libekmfweb` and the `zkey-ekmfweb` plugin should go under `/usr/lib64` rather than `/lib64`

[2020-10-22 09:16] ifranzki commented on #93
Thanks for suggesting this.
I have prepared a patch to introduce what you asked for.
Please take a look and let me know if this is what you are looking for:
https://github.com/ifranzki/s390-tools/commit/b27e3ec68086672213a695e21ff764dac761502e

I moved zkey-ekmfweb.so to /usr/lib64/zkey/. To ensure that zkey can load this plugin I needed to specify the absolute path to the library in zkey/kms-plug

[2020-10-23 07:51] sharkcz commented on #93
Thanks, Ingo. I have commented in the patch itself.

[2020-10-23 12:09] ifranzki commented on #93
Thanks for the comments. I have reworked the commit according to your comments and force pushed, please see here: https://github.com/ifranzki/s390-tools/commit/d09ed47ea548b831d3556142d15164ef7bf2d9be.

So for zkey-ekmfweb.so I only create the .so without a version in the file names, but I set the soname ELF attribute to `zkey-ekmfweb.so.1`, is this correct?

[2020-10-26 10:21] sharkcz commented on #93
thanks, will take a look

yes, I would do it this way. It will contain the ABI info, but still allow simple `dlopen()`ing via `zkey-ekmfweb.so`.

[2020-10-27 07:50] hoeppnerj commented on #88
As per previous comment, closing.

[2020-10-27 07:50] #88 closed

[2020-10-27 08:48] sharkcz commented on #93
I have commented in the new patch, I believe it should be the last batch :-) I have applied the changes locally and the result looks good.

[2020-10-27 09:42] ifranzki commented on #93
Thanks, I have adjusted the commit accordingly:
https://github.com/ifranzki/s390-tools/commit/4a1979de79d9de48a44538f856f1d50f398541a8

We will integrate this patch internally and make it available on the master branch soon.

[2020-10-27 09:50] sharkcz commented on #93
Awesome, I will add the last version to the Fedora s390utils package.

[2020-10-28 08:32] hoeppnerj commented on #92
Hi Mark,

the main issue is being fixed internally already. You're right, this check
https://github.com/ibm-s390-tools/s390-tools/blob/885ff0a03f5561acb76e7201ddb2c9de30a5e123/libdasd/dasd_sys.c#L217
has to be turned over. I tested the loop back device problem with our fix and it works.

About the "Operaion not supported", I don't see this issue on our systems.
If you have details on how to reprod

[2020-10-28 11:36] hoeppnerj commented on #89
Correct, it should read `zfcpdump-image`. Will be fixed internally and pushed soon.

[2020-10-28 12:32] #89 closed

[2020-10-28 12:32] #93 closed

[2020-10-28 12:33] hoeppnerj commented on #92
Fixed with https://github.com/ibm-s390-tools/s390-tools/commit/353403824b5112c254f6788bad5edbbb19b96683

[2020-10-28 12:33] #92 closed

[2020-11-02 15:57] mhartmay commented on #86
Hi @vapier, sorry for the very late reply! I was not aware of this issue for a long time. Can you please list the version of the cross compiler(s) used? e.g. `s390x-linux-gnu-gcc -version` and `s390x-linux-gnu-as --version`. Thanks in advance.

[2020-11-06 15:21] hoeppnerj commented on #86
The build issue is fixed via https://github.com/ibm-s390-tools/s390-tools/commit/6db7fbe0187042f44a63a5c7dbeb9f116909d02e

[2020-11-09 11:25] #91 closed

[2020-11-11 13:24] sharkcz opened #97 "lscpumf fails early when run as non-root"
When `lscpumf` is run as non-root it prints an error message, not even accepting `--help` or `--version` options.
[code]
I think it's because it tries to initialize itself before processing any command line options.

[2020-11-11 14:17] tmricht commented on #97
The permissions for the file are
-rw-r----- 1 root root 4096 Nov 11 15:08 /sys/module/kernel/parameters/cpum_sfb_size
This does not allow the file to be read by ordinary users. We can change this to be word readable, however write permission
will be limited to root only.
Only root can use the perf tool to read counters lscpumf displays.

[2020-11-11 14:38] tmricht commented on #97
The file  /sys/module/kernel/parameters/cpum_sfb_size is created in the linux kernel, by the perf_cpum_cf.c device driver.
Therefore there won't be any fix for that in the s390-tools.
I leave it open until the fix for the linux kernel part shows up. Then you can verifiy and close it.

[2020-11-11 15:18] hoeppnerj commented on #97
Actually, the issue isn't the permission of the sysfs file, but rather that information are retrieved by the tool even before the program parameters are parsed. See: https://github.com/ibm-s390-tools/s390-tools/blob/master/cpumf/lscpumf.c#L3098 (read_info() calls read_sfb() further down https://github.com/ibm-s390-tools/s390-tools/blob/master/cpumf/lscpumf.c#L2922)

I think this really should be c

[2020-11-11 15:48] tmricht commented on #97
Right, but since lscpumf simple displays some file contents of these files
[root@m35lp76 linux]# ll /proc/sysinfo /proc/service_levels /sys/module/kernel/parameters/cpum_sfb_size
-r--r--r-- 1 root root    0 Nov 11 16:44 /proc/service_levels
-r--r--r-- 1 root root    0 Nov 11 16:43 /proc/sysinfo
-rw-r----- 1 root root 4096 Nov 11 16:44 /sys/module/kernel/parameters/cpum_sfb_size
[root@m35lp76 linux

[2020-11-12 07:20] hoeppnerj commented on #97
Agreed, however, I think the behaviour of lscpumf should be changed nonetheless.
Both things need to be addressed, the permissions of the sysfs attribute and the working of --help and --version should be guaranteed (as in, change the order of reading information vs parsing program parameters).

[2020-11-12 07:43] tmricht commented on #97
This is correct, the --help and --version option should work in all cases. And they will work once the permissions are correct.
I tried it.

[2020-11-12 07:50] hoeppnerj commented on #97
Only for this case.  The design of the tool is still broken in that regard and if in the future someone changes the code, it might break again.
Please make sure the tool gets fixed as well.

[2020-11-12 07:55] tmricht commented on #97
ok, will write a patch to fix this.

[2020-11-12 12:32] hoeppnerj commented on #5
@sharkcz are there still dependencies to be resolved to address the original issues from your side?
If not, I would consider the whole issue here as being resolved. As far as I can tell, there are still a few
tools left written in perl, but as nothing came in the past, I feel like those tools are no blockers to
the original problem.
What's your stand on the current situation?

[2020-11-12 13:03] sharkcz commented on #5
The urgent needs were resolved by the introduction of the `s390utils-core` subpackage (see https://src.fedoraproject.org/rpms/s390utils/blob/master/f/s390utils.spec#_173), so flavours like CoreOS can be installed/used without Perl. But the original problem is still there, the regular installer image contains Perl on s390x, increasing its size and dependency chains, while other arches like x86 or a

[2020-11-12 13:22] hoeppnerj commented on #5
Alright, thanks for the information. I'll try to address these internally. As far as I understand, this is about the installation
environment. So, there are certainly tools (like lsluns) that could potentially be moved to other subpackages (Like @Benjamin-Block
suggested here already: https://github.com/ibm-s390-tools/s390-tools/pull/22#issuecomment-351709219)

Is this the complete list of the rem

[2020-11-12 13:39] sharkcz commented on #5
I believe many people would like to see Perl deprecated globally :-) and I'm thinking about proposing the rewrites as a project for OpenMainframe Project's Internship programme, if it should help to speed up the process and we will agree the perl removal is a good step.

The complete list is bellow, but the 3 tools are the ones present in `base`. Some might be easy to convert to eg. a shell script

[2020-11-14 21:56] xnox opened #98 "should not use lib64 on distros that don't use that - please support configuring LIBDIR or libexec"
hardcoding /usr/lib64 is not nice. On many systems nothing uses /usr/lib64 anymore.

Please either use $(LIBDIR) (for shared libraries) or /usr/libexec (for plugins).

For example on Debian/Ubuntu, the multiarch locations are used for libdir such as /usr/lib/s390x-linux-gnu

/usr/libexec is nowadays commonly used as the location for dynamically loaded plugins.

Let's change /usr/lib64/zkey/zkey-ek

[2020-11-16 13:46] ifranzki commented on #98
Installing the plugin (zkey-ekmfweb.so) into /usr/libexec (actually /usr/libexec/zkey/ I guess) is fine with me.

Regarding installing shared libraries into $(LIBDIR): I guess you are talking about libekmfweb.so(.*) ?
What exactly do you mean by 'use $(LIBDIR)' ? LIBDIR is defined in common.mak as '$(INSTALLDIR)/lib'. The default INSTALLDIR is empty, so it would be installed to /lib. Unfortunately

[2020-11-16 14:21] ifranzki commented on #93
Would moving zkey-ekmfweb.so to /usr/libexec/zkey/ be fine with you, too?

[2020-11-16 15:30] xnox commented on #98
Ack, yeap.

So, with meson/autoconf/make etc. buildsystems debian build system would pass /usr/lib/s390x-linux-gnu which is in the ld.so searchpath. And rpmmacros would pass $rmproot/usr/lib64 as appropriate.

What is not ok, to hardcode "/lib64" which cannot be influenced from the buildsystem. Since LIBDIR variable can be passed to make invocation.

I'll try to submit patches for both issues abov

[2020-11-17 09:38] ifranzki commented on #98
I do have a patch for the first part. If you could come up with a patch for the second part (that still allows us to run zkey after a local `make install`) that would be great.

[code]

[2020-11-17 10:54] sharkcz commented on #93
https://docs.fedoraproject.org/en-US/packaging-guidelines/#_libexecdir is what our guidelines say about `libexec`, thus I would prefer to keep `zkey-ekmfweb.so` in `/usr/lib64/zkey`.

[2020-11-17 12:41] hoeppnerj commented on #98
As @sharkcz mentioned here https://github.com/ibm-s390-tools/s390-tools/issues/93#issuecomment-728850417 /usr/libexec is not prefered by Fedora. I think this needs to be considered before moving on. Especially because Debian/Ubuntu seems to be the only distribution that abandoned /usr/lib64 so far. So, this change would actually be very distro (Ubuntu) specific.

However, I'm not against /usr/libe

[2020-11-17 12:43] hoeppnerj commented on #98
@markkp what is Suses view on this topic?

[2020-11-17 12:50] sharkcz commented on #98
IMO the plugin path can be passed from the compiler command line with -DKMS_PLUGIN_LOCATION, you can set a default, but distros can easily override.

[2020-11-17 13:30] ifranzki commented on #98
OK, how about this?

The default would still remain /usr/lib64/zkey/, but you can pass/override ZKEYKMSPLUGINDIR to make to choose whatever location you want.

[code]

[2020-11-17 13:35] sharkcz commented on #98
works for me, I believe you could drop the whole `#ifndef` section from `kms.c`, `-DKMS_PLUGIN_LOCATION` is part of the compiler flags, so it should always work.

[2020-11-17 16:13] xnox commented on #98
https://docs.fedoraproject.org/en-US/packaging-guidelines/#_libexecdir

Fedora uses libexec, and many upstream packages use it, and fedora packages them with libexec too....

E.g. fwupd that is install on all baremetal x86 installs

/usr/libexec/fwupd
/usr/libexec/fwupd/efi/fwupdx64.efi
/usr/libexec/fwupd/efi/fwupdx64.efi.signed
/usr/libexec/fwupd/fwupd
/usr/libexec/fwupd/fwupd-detect-cet
/usr/lib

[2020-11-17 16:14] xnox commented on #98
BTW why is zkey-ekmfweb.so a public library? Is the ABI going to be maintined, with symbols versioned, public header compiled, and many userspace and 3rd party packages and apps expecting to use it?

[2020-11-17 16:51] ifranzki commented on #98
zkey-ekmfweb.so is a plugin for zkey. I don't see that it will ever be used by anyone else than zkey.
And /usr/lib64/zkey/ (or /usr/libexec/zkey) is not in the ld path either.
Nevertheless, it uses versioned symbols, since the plugin interface may change (get enhanced) over time.

[2020-11-17 17:36] xnox commented on #98
right sure.

I was more about usr/lib64/libekmfweb.so.1.0 => which does have versioned symbols and looks very general purpose and useful, and making it private would be a shame. Thus getting shipped publicly is probably for the best.

[2020-11-17 23:03] xnox commented on #93
yes.... it says that libexecdir may be used..... which would be the same location for both Ubuntu and Fedora. Ubuntu cannot use /usr/lib64/zkey at all for the s390x port.

also it is cute that the fedora guidelines mention upstream configuration system.... it would be nice if s390-tools had meson (or make / autoconf, or well anything) to detect and configure these things. As by default rpm macros

[2020-11-18 09:13] ifranzki commented on #98
Yes, libekmfweb.so1.0 is a public library by intention, and can be used by others, too.

How about the following change to allow to override the installation path for libekmfweb.so1.0?

[code]

[2020-11-18 10:31] #97 closed

[2020-11-18 13:49] xnox commented on #98
yeap, that looks good.

[2020-11-19 16:53] markkp commented on #98
From what I can tell, neither SUSE nor openSUSE uses /usr/libexec at all. The directory doesn't even exist on my Leap 15.1 system.

[2020-11-19 17:00] xnox commented on #98
I see rpms that do use libexec in OBS for 15.2 Update for example.

I do agree that in the past libexec was not used at all, but all distros in question are using libexec in the development series across a wide array of packages. Even if they didn't use them in past. Lots of system utils, programmes, gnome components are using it.

[2020-11-19 17:01] xnox commented on #98
if libexec is so controversion, should we not put the plugins into `/usr/lib/s390-tools/zkey/` ?

given that s390-tools on all distros already ships many things in `/usr/lib/s390-tools`.

[2020-11-25 06:40] borntraeger commented on #86
FWIW, lgfi was added with the extended immediate facility (z990). The problem is probably that on gentoo there is no architecture level set to anything newer than z900 for gcc. The binutils will reject mnemonics that are newer than the architecture level.
So The fix would be to compile this file with march=z990 or newer or - which is better - to change the code to not use lgfi.

[2020-11-25 06:44] borntraeger commented on #29
@mihajlov FYA.

[2020-11-25 07:33] borntraeger commented on #86
@vapier Does something like the following work for you (replace llill with lgfi)

diff --git a/genprotimg/boot/head.S b/genprotimg/boot/head.S
index 8fae46049b9c..a709c30487c4 100644
--- a/genprotimg/boot/head.S
+++ b/genprotimg/boot/head.S
@@ -24,6 +24,6 @@ _start:
        sam64

        /* Initialize stack */
-       lgfi    %r15, STACK_ADDRESS + STACK_SIZE - STACK_FRAME_OVERHEAD
+       llill

[2020-11-25 08:05] borntraeger commented on #86
Just checked. It looks like stage3a_init.S also needs a change.

[2020-12-02 17:54] vmorris opened #100 "netboot image build fails with undefined reference to `stime'"
Busy box needs to be bumped up to a later version:

## using the default:
[code]

## using busybox v1.32.0:
[code]

[2020-12-10 11:26] paride opened #104 "Please provide json output option for fdasd --table"
Having machine readable output for `fdasd --table` would be useful to make integration with other tools both easier and more solid. I think json output would be a good choice because other s390-tools already depend on json-c, and because it would be similar to `sfdisk --json`. Please consider adding the option. Thanks!

[2020-12-14 11:12] hoeppnerj commented on #104
Thanks for bringing this up. I've had this in mind for other tools (or even all tools) a while ago as well. Having some sort of API like that might be really useful. Don't expect anything like this soon though, as there are no resources to work on this at the moment.

Feel free though to provide pull requests to integrate such a feature.

[2020-12-15 10:14] #98 closed

[2020-12-15 10:14] #100 closed

[2021-01-04 13:55] sharkcz opened #105 "ttyrun-getty@ and serial-getty@ services conflict with each other"
Cloning from a downstream bug (https://bugzilla.redhat.com/show_bug.cgi?id=1907781)

Description of problem:
Starting/Enabling `ttyrun-getty@` and `serial-getty@` should be mutually exclusive, since the instance cannot be shared, e.g. `ttyrun-getty@hvc0` and `serial-getty@hv0` cannot connect simultaneously.

I would suggest adding the following stanza to `ttyrun-getty@.service` unit:
[code]

How r

[2021-02-19 12:53] #86 closed

[2021-02-22 17:15] sharkcz opened #108 "build failure in zkey when distro overrides the compiler flags"
I get this error when building version 2.16.0 in Fedora
[code]
I think the root cause is that zkey uses `CFLAGS` variable for defining the `KMS_PLUGIN_LOCATION` in https://github.com/ibm-s390-linux/s390-tools/blob/master/zkey/Makefile#L37 while it should use `ALL_CFLAGS` or similar.

[2021-02-23 07:58] ifranzki commented on #108
Thanks for reporting.

Does the following patch fix this?

[code]

[2021-02-23 09:29] sharkcz commented on #108
yes, it does and I think `CPPFLAGS` from https://github.com/ibm-s390-linux/s390-tools/blob/master/zkey/Makefile#L21 should be changed to `ALL_CPPFLAGS` too

[2021-02-23 10:34] ifranzki commented on #108
Yes right. Actually it should be `ALL_CFLAGS `, not `ALL_CPPFLAGS`, since we don't have C++ there anyway.

Updated patch:
[code]

[2021-02-23 10:36] sharkcz commented on #108
`CPPFLAGS` as preprocessor flags, which is correct here, for C++ compiler there would be `CXXFLAGS`

[2021-02-23 10:49] ifranzki commented on #108
Ah, right, will use ALL_CPPFLAGS then.

[2021-02-23 10:50] sharkcz commented on #108
thanks :-)

[2021-02-23 15:50] #108 closed

[2021-02-23 16:21] sharkcz opened #109 "symbol clash between genprotimg/src/utils/buffer.c and libssh"
Looks like we are hitting a symbol clash between `genprotimg/src/utils/buffer.c` and `libssh` when building in Fedora Rawhide. A local build in Fedora 32 looks good. Both `buffer.c` and `libssh` define `buffer_free`, `libssh` is brought in via `libcurl` ... Probably related to enabled LTO in Fedora >=34.
[code]

[2021-02-24 16:53] mhartmay commented on #109
Thanks for reporting - I just created a fix for it.

[2021-02-24 17:41] #109 closed

[2021-02-24 18:12] sharkcz commented on #109
Thanks, builds are now passing in Fedora.

[2021-02-27 22:30] markkp opened #110 "Call to util_file_read_l in libdasd/dasd_sys.c does not check the return code from the function"
https://github.com/ibm-s390-linux/s390-tools/blob/3d79a542d4fb4ca35c35e4431b16e6bfef465782/libdasd/dasd_sys.c#L221

If the util_file_read_l routine in libutil/util_file.c fails to read the file it is passed, it sets a return code of -1. In libdasd/dasd_sys.c, the return code is never checked, and so the variable 'value" has whatever random contents it had when dasd_get_host_access_count is entered

[2021-03-16 16:20] #105 closed

[2021-03-16 16:21] hoeppnerj commented on #105
Integrated, thanks for the contribution!

[2021-03-17 13:16] hoeppnerj commented on #110
Thanks for pointing this out. I've provided a fix for it.
Also, I've found several other occurrences in other tools as well. Will make sure that these get fixed, too.

[2021-05-13 20:27] jlebon commented on #78
If changing the semantics of `BOOT_IMAGE` is too late at this point, could we introduce a new e.g. `BOOT_IMAGE_PATH` kernel argument which is simply the `/boot`-relative path to the kernel image? For BLS configs at least, this would just mean taking the value of the `linux` key and converting that to a `BOOT_IMAGE_PATH=$value` karg.

[2021-05-14 00:00] Prashanth684 commented on #78
@jlebon that sounds like a reasonable idea. @sharkcz @borntraeger thoughts? @borntraeger like you mentioned, this new argument would be added when writing the boot records.

[2021-05-14 17:14] xnox commented on #78
In UEFI world, we can tell which drive something has booted from and how. Which menu entry. And which files. Upon network boot we normally pass the interface mac address as the command line arg.

So yes, having all that information passed to the kernel would be nice. Aka ccw id of the thing we booted from, which menu number if any, and file path. To know if i booted off 0.0.300 and what menu entry

[2021-05-17 07:07] rmetrich opened #111 "Cannot use the Menu feature with BLS entries"
Trying to create a menu sourcing one of more BLS entries, **zipl** fails to generate the configuration and reports this:
[code]

The official documentation https://www.ibm.com/docs/en/linux-on-systems?topic=loader-bls-files has been followed.

## Reproducer

### bls1.conf

[code]

### zipl.conf.menu

[code]

## Source code (scan.c)

[code]

Executing the command under GDB shows that **type** is **

[2021-05-17 07:22] sharkcz commented on #111
cc @martinezjavier

[2021-05-17 07:56] martinezjavier commented on #111
@rmetrich did you try adding the `target` keyword to the `defaultboot` section ? i.e:

[code]

[2021-05-17 08:24] rmetrich commented on #111
Yep, fails because of incompatible keywords:
[code]

[2021-05-17 08:43] martinezjavier commented on #111
Sigh, I'll investigate. Wonder if this is a corner case that's not correctly handled by BLS.

[2021-05-17 11:39] rmetrich commented on #111
I see this code:
[code]

Adding a breakpoint at the time the error occurs shows we have the following backtrace:
[code]

So clearly the **scan_check_bls()** which apparently sets the **target** keyword doesn't even run (it's on line 1877 and we die returning from line 1871).

[2021-05-19 12:25] martinezjavier commented on #111
So the problem is that when using the following:

[code]
the IPL sections inherit the `target` field but that's not the case when using a menu, like in your example:

[code]

I think the correct thing to do would be to not make the `target` field a requirement for IPL sections but instead making it optional and fill with the default section `target` if is not present.

[2021-05-20 11:41] martinezjavier commented on #111
Ok, I looked a little bit more to this today and probably what we should do is to make the IPL sections created from BLS snippets to inherit the `target` field defined in either the `defaultmenu` or `defaultboot` sections. By doing that, we can keep this field to be required when checking the sections.

I'll work on a patch for this.

[2021-05-20 13:52] stefan-haberland commented on #78
Hi,
some information can be obtained from /sys/firmware/ipl/ this is what lsreipl uses as well. Device, ipl_type, loadparm and parm for ccw type IPL for example.

For the zipl BOOT_IMAGE entry there is currently not that much choice to provide different information than the number. The zipl loader does simply not know about the filename for example. It only has the title and the entry number avail

[2021-05-20 16:56] #110 closed

[2021-05-26 08:39] sharkcz opened #112 "genprotimg fails to build with OpenSSL 3.0"
Clearly genprotimg fails to build with OpenSSL 3.0, there is a number of "deprecated" warnings (those were worked around with an explicit -Wno-error=...), but at the end there is a incompatibility too. https://kojihub.stream.centos.org/koji/taskinfo?taskID=277536 is my test build with complete logs.

[code]

[2021-06-04 09:32] mhartmay commented on #112
@sharkcz
Thanks for reporting - I'l send a fix within the next days.

[2021-06-04 11:50] sharkcz commented on #112
Thanks, let me know if you need testing or additional info.

[2021-06-08 09:10] martinezjavier commented on #111
@stefan-haberland could you please take a look to the mentioned pull-request #113 ?

[2021-06-08 09:32] stefan-haberland commented on #111
@martinezjavier Thanks for the code.
I am just back at work and noticed your pull request. I already had a quick look but I will have a closer look this week.

[2021-06-08 09:40] martinezjavier commented on #111
@stefan-haberland great, thanks a lot!

[2021-06-08 09:55] cohuck opened #114 "cio_ignore -k does not include '0.0.' prefix"
Running `cio_ignore -k` to generate a kernel parameter entry omits the `0.0.` prefix and only uses the full bus id for higher subchannel sets. E.g., on one of my systems I get
[code]
This is of course an entirely correct and working kernel parameter, but it looks a bit inconsistent to my eyes, especially as devices are always referenced by the full bus id in sysfs.
Would it make sense to make this

[2021-06-08 13:55] xnox commented on #114
leading zeros are omitted by all s390-tools tooling, udev qeth interface naming. I.e. inputs to lszddev, chzdev etc. Thus it is redundant information.

[2021-06-14 11:39] oberpar commented on #114
This behavior is based on a conscious design choice. Given that the s390 kernel command line is limited to ~900 characters and there were already numerous cases where this limit was an issue, saving the character here makes sense.

[2021-06-14 11:42] hoeppnerj commented on #114
Closing as per previous comment.

[2021-06-14 11:42] #114 closed

[2021-06-28 15:46] jlebon commented on #78
OSTree-specific dracut workaround for this in https://github.com/dracutdevs/dracut/pull/1539.

[2021-06-30 13:32] nikita-dubrovskii commented on #78
Hi,
could you please say, is it a defined behavior:
- zVM, Linux installed on zFCP disk - zipl doesn't add `BOOT_IMAGE=N` to kernel cmdline

[2021-07-01 08:42] stefan-haberland commented on #78
Hi,

what I can say is that the "BOOT_IMAGE=N" entry is created by the zipl stage2 loader in the menu code (menu.c: menu() ).
This loader is NOT used for zFCP IPL. So the zipl code can not create this entry.

I can not say if the firmware loader, that is used for the zFCP, ever created this entry.

[2021-07-01 08:47] nikita-dubrovskii commented on #78
Yep, i saw that code. But how do you think - should zipl also add BOOT_IMAGE on zfcp?

[2021-07-01 10:37] stefan-haberland commented on #78
AFAIK this was never intended.

But there are plans to change the BOOT_IMAGE= number to the actual file name and I think it makes sense that this should look identical across all IPL methods afterwards.

[2021-07-05 12:03] #112 closed

[2021-07-05 19:36] jlebon commented on #78
This sounds great! We just need to make sure we revert https://github.com/dracutdevs/dracut/pull/1539 once that happens.

[2021-07-08 12:15] sharkcz commented on #112
and I confirm that the 2.17.0 release builds OK with openssl 3.0

[2021-07-12 10:13] frank-heimes opened #116 "s390-tools FTBFS if changing build-dependency on libfuse-dev to libfuse3-dev"
< corresponding Launchpad bug [LP#1935666](https://bugs.launchpad.net/bugs/1935666) >

fuse3 is a requirement for qemu 6 (which is again planned to be included into Ubuntu 21.10), hence fuse needs now to be replaced fir his by fuse3 (since we don't want to support two versions of fuse in Ubuntu main) so that we can switch the reverse-dependencies from fuse to fuse3.

Doing a test rebuild changing

[2021-07-17 02:56] vmorris opened #119 "`vmur` not detecting unauthorized when punching to another system's reader"
I ran into this issue where `vmur` thinks it was able to successfully punch and transfer a file to another system's reader, but in fact RACF is blocking it.

I ran the command:
[code]

This was not obvious to me what the problem was, but I could see that no messages were being logged at the hardware console for either the driving or the receiving systems.

`strace` gave some more details:

[code]

[2021-07-18 16:56] vmorris commented on #119
Further investigation yields this message:

[code]

[2021-07-26 07:31] sharkcz opened #120 "cpi.service sets values in KVM guest and fails"
Seems the condition the service (https://github.com/ibm-s390-linux/s390-tools/blob/master/systemd/cpi.service.in#L14) it true even in a KVM guest, but the CPI interface isn't (fully) implemented (?) there and setting the values fail.
[code]

Related: https://bugzilla.redhat.com/show_bug.cgi?id=1985745

[2021-07-26 10:55] hoeppnerj commented on #119
@tmricht can you have a look please? Thanks!

[2021-07-28 09:33] tmricht commented on #119
@Jan, thanks for the notification.
Sorry for the late reply, but I had to refreshen my brain first :-).

Can you please append (attach) the complete strace log to the ticket, this would help me a lot. Thanks.
The vmur command uses the vmcp device driver interface for communication with the CP command layer. These errors are reported to the user but rarely interpreted by programs.

From the strace

[2021-07-28 09:52] tmricht commented on #119
On what linux distro + version and what s390-tools version did the error occur?

[2021-08-02 16:34] vmorris commented on #119
I cannot reproduce the error at this time, and unfortunately I did not preserve the strace log.

This occurred on RHEL 8.4.

[code]

[2021-08-02 16:37] vmorris commented on #119
Actually, I can reproduce it, here's the strace log:

https://gist.github.com/vmorris/ff12382a91c09ba8ada99f7eb9167c07

[2021-08-03 07:27] tmricht commented on #119
Thanks a lot and good to know you can reproduce the issue.
As explained above, the error happens when closing the punch device 000d using a vmcp command. The error response of this command is not interpreted. So I need to know the exact error code to be returned in your case.
Since we do not have such a RACF in place here in our lab, I would like you to rerun the command again with a modifed vmur

[2021-08-03 13:08] vmorris commented on #119
@tmricht -

[code]

[2021-08-03 14:32] mhartmay commented on #112
Thanks for the confirmation.

[2021-09-30 15:26] #119 closed

[2021-11-15 14:11] jstodola opened #123 "lszfcp -D fails due to missing attributes in sysfs"
Description of problem:
lszfcp cannot display information about attached zFCP SCSI devices:

[code]

lszdev shows the devices correctly:
[code]

Version-Release number of selected component (if applicable):
s390utils-base-2.18.0-2.fc36
kernel-5.16.0-0.rc0.20211112git5833291ab6de.12.fc36

How reproducible:
always

Additional info:
[1] says:
"The zfcp-specific sysfs attributes hba_id, wwpn, and fcp_

[2021-11-15 14:18] sharkcz commented on #123
- confirmed with s390utils-base-2.19.0-1.fc34.s390x too
- looks like the attributes are going away in kernel 5.16, everything was OK with kernel-5.15.0-60.fc36.s390x

[2021-11-15 14:51] Benjamin-Block commented on #123
@steffen-maier is already working on it. This is a regression in 5.16, we tried to get it fixed before rc1, but missed the window. IIRC should be fixed once rc1 gets released.

https://lore.kernel.org/linux-scsi/7c0af228-e098-5657-934e-d2bd2bff5ee3@linux.ibm.com/
https://lore.kernel.org/linux-scsi/20211026014240.4098365-1-maier@linux.ibm.com/
https://lore.kernel.org/linux-scsi/f5900f54-dddd-6dd4-c

[2021-11-15 15:42] jstodola commented on #123
OK, thanks for the explanation.
I'm closing this issue, since this is a problem in kernel.

[2021-11-15 15:42] #123 closed

[2021-11-18 15:02] huth opened #125 "Erroneous EBCDIC tables in zipl/boot/ebcdic_conv.c"
zipl/boot/ebcdic_conv.c contains two tables for converting EBCDIC to ASCII, ebcdic_037 and ebcdic_500. However, if you compare the two tables line by line, you can see that they are exactly the same! So this is either a waste of precious bytes, or one of the tables is just wrong.
Comparing the tables with the ones in the Linux kernel (arch/s390/kernel/ebcdic.c), it seems to me like ebcdic_500 is w

[2021-11-18 15:29] huth opened #126 "Support the ASCII console in the zipl boot menu"
The zipl boot menu currently only enables the line mode console with sclp_setup(SCLP_INIT) in zipl/boot/menu.c. That's ok for most use-cases, but recently I wanted to boot a KVM guest from a DASD that has been passed-through to the guest via vfio-ccw, and noticed that I can not get the boot menu in that case:

qemu-system-s390x -accel kvm -m 4G -nographic -boot menu=on \
 -device vfio-ccw,devno=fe

[2021-11-19 08:27] sharkcz commented on #120
ping :-)

[2021-11-22 14:13] mhartmay commented on #126
The last time I wanted to implement this, there were size limitations in the stage[123] loaders. If I remember correctly the tables in ebcdic_conv.c were too large.

[2021-11-22 15:45] huth opened #127 "Compiler warning with GCC 11.2"
When compiling zipl with GCC 11.2, I get a compiler warning that looks serious:

  CC      zipl/src/job.o
In function ‘set_cl_element’,
    inlined from ‘get_ipl_components’ at job.c:580:7,
    inlined from ‘finalize_ipl_address_data’ at job.c:788:7,
    inlined from ‘check_job_ipl_data’ at job.c:883:9:
job.c:514:13: warning: argument 1 null where non-null expected [-Wnonnull]
  514 |         if (

[2021-11-22 16:47] huth commented on #126
Currently, the two tables in ebcdic_conv.c are the same, so maybe one could get removed (see https://github.com/ibm-s390-linux/s390-tools/issues/125 )? Or if you care about the right code pages, maybe a patch like this could help to save approx. 90 bytes (not sure whether that's enough, though):

<pre>
diff --git a/zipl/boot/ebcdic_conv.c b/zipl/boot/ebcdic_conv.c
--- a/zipl/boot/ebcdic_conv.c
+++

[2021-12-07 12:54] sharkcz opened #128 "inconsistent/incomplete /dev/disk/by-id links"
We are experiencing a situation where the `/dev/disk/by-id/...` symlinks are inconsistent across reboots. Sometimes links for all disks/dasds are present, sometimes only a (different) subset is present.

[code]
[code]
environment is Fedora 35 with kernel-5.14.18-300.fc35.s390x and s390utils-core-2.17.0-2.fc35.s390x (version shouldn't matter much as `etc/udev/rules.d/59-dasd.rules` hasn't changed f

[2021-12-07 16:15] sharkcz commented on #128
hmm, now I understand it even less, booting with kernel 5.14.18 with `rd.udev.debug` the journal is full of `LINK` messages for the `by-id` symlinks from the `59-dasd` rules file, but nothing is there, not even the `/dev/disk/by-id` directory ...

[2021-12-07 17:16] sharkcz commented on #128
I wonder if there is a race condition between creating the actual symlinks and creating the `/dev/disk/by-id/` directory ...

[2021-12-09 15:21] #116 closed

[2021-12-15 13:24] sharkcz commented on #128
I think messages like this explain the missing symlinks
[code]
ping me for a full log

[2022-01-03 10:37] mario-held commented on #125
When Wikipedia is correct, the tables should not be exactly the same. In https://en.wikipedia.org/wiki/Code_page_37 is stated:
**Code page 500,** known as "International EBCDIC",[5] "International Latin-1" or "International Number 5",[10] is the other major EBCDIC encoding for the ISO/IEC 8859-1 repertoire. It is used in Belgium, Switzerland and on AS/400 systems in Canada.[5] It is related to cod

[2022-01-03 11:06] huth commented on #125
Yes, there should definitely be a difference in the tables, you can see it in the Linux kernel sources, too (arch/s390/kernel/ebcdic.c).

See my comment here for a suggestion how to fix it:

https://github.com/ibm-s390-linux/s390-tools/issues/126#issuecomment-975720161

[2022-01-03 13:30] mihajlov commented on #120
I would probably be best to suppress the error message in cpictl (cpi_commit), e.g.
`echo 1 > "$CPI_SET" 2> /dev/null`
As we will likely implement the CPI interface for KVM in the future, it's OK to enable the service in KVM guests.

[2022-01-04 17:01] hoeppnerj commented on #128
I'm currently unable to access the RedHat BZ. I need to get an account first.
Can you share more details about your setup? How are the DASDs configured? Did you use `chzdev -e` to have a persistent
configuration? Is it always the same DASDs that have this issue or is it random?

I've tried several reboots on an LPAR with 10 DASDs persistently configured using `chzdev -e` on a freshly installed
F35

[2022-01-05 09:35] sharkcz commented on #128
my environment is
- z13 with z/VM 6.4.0
- the guest is Fedora 35 with kernel-5.14.18-300.fc35.s390x and systemd-udev-249.7-2.fc35.s390x
- DASDs configured with rd.dasd= and /etc/dasd.conf
- what links are present/missing is purely random

The original report is from OCP/RHEL-8.x with z/VM 7.2.0 on z13 and z15.

I suspect there might be something wrong with udev or kernel handling the devices, rath

[2022-01-05 15:55] sharkcz commented on #128
Have you also removed the `rd.dasd=` definitions from the kernel parameter line and used the zdev "rootfs mode" purely?

Right now I am testing with `/etc/dasd.conf` completely removed (both from system and from initrd) and still no 100% success (4x all links created, 1x no links at all, 1x links for `dasdc1` only).

[2022-01-06 12:36] sharkcz opened #129 "zdev root fs detection fails for btrfs"
I believe this is an oddity of btrfs, but when btrfs is used for the root filesystem and the fs is spread across multiple devices, then zdev adds only one rule into the initrd rendering the system unbootable :-(
[code]
As you can see `chzdev` adds `5422` into the initrd, but rather all 4 DASDs are required.

[2022-01-20 08:37] #120 closed

[2022-01-20 08:37] #127 closed

[2022-01-20 15:43] oberpar commented on #129
This should be fixed with commit ad024c06e16ec4bba31d19fb848b42c67113143d.

[2022-01-20 17:50] hoeppnerj commented on #129
@sharkcz can you please verify that the commit mentioned by @oberpar fixes this issue? Thanks!

[2022-01-24 15:45] sharkcz opened #130 "genprotimg fails to build with GCC 12"
`genprotimg` failed to build during the recent mass-rebuild in Fedora. Seems GCC 12 reports a new issue and combined with `-Werror` in stops the build.
[code]
see https://koji.fedoraproject.org/koji/taskinfo?taskID=81640175 for all details

[2022-01-24 17:28] sharkcz commented on #130
yeah, they are often false-positives. Please ping your toolchain guys too, sometimes those false positives are s390x specific.

[2022-01-24 18:04] sharkcz commented on #129
It doesn't seem to be sufficient to fix it ...
[code]
but
[code]

[2022-01-25 10:35] oberpar commented on #129
Hm, seems this could be related to the fact that a single block device provides multiple mount points. Could you provide the output of the following command?
[code]

[2022-01-25 10:42] sharkcz commented on #129
[code]

[2022-01-25 13:05] oberpar commented on #129
Yes, that confirms my assumption:
[code]
Current zdev code isn't compatible with devices that provide multiple mount-points. Fixing this shouldn't be too difficult, but I'm not sure when this can be provided. Is there any deadline associated with the occurrence of the problem in your case?

[2022-01-25 13:16] sharkcz commented on #129
I believe we can keep it open for some time, ideally with some documentation note. There is no deadline and one can do custom storage setup when installing Fedora, so there is a workaround.

[2022-02-02 11:07] #129 closed

[2022-02-02 11:24] hoeppnerj commented on #129
@sharkcz despite automatically closing this issue when I've pushed the corresponding commit, could you please still confirm the fix? Thanks a lot!

[2022-02-02 11:41] sharkcz commented on #129
yes, I will give it a try

[2022-02-07 10:29] sharkcz commented on #129
yup, it looks good
[code]

[2022-02-07 11:21] hoeppnerj commented on #129
Thanks a lot for the verification!

[2022-02-07 11:27] sharkcz commented on #128
I believe using the zdev persistent config doesn't matter. I have converted my system fully to zdev for dasds and I am still getting random result with the "by-id" links. I suspect the problem is deeper in udev or kernel.

[2022-03-18 13:44] #111 closed

[2022-05-04 19:21] richardflewis opened #131 "cmsfs-fuse fails to mount file systems on Ubuntu 22.04 with error unknown option(s): '-o hard_remove'"
cmsfs-fuse fails to mount any cms file system since it forces the hard_remove option and it appears as though that option is no longer recognized by fuse 3.

[2022-05-04 19:37] hoeppnerj commented on #131
Hi @richardflewis thanks for the report. Can you please provide details on how to recreate the issue? We'll be looking into it then. Thanks!

[2022-05-04 19:55] richardflewis commented on #131
Greetings,

Yes, the recreate is very easy as I cannot yet get it to actually work.  So, I would make a CMS formatted minidisk available to an Ubuntu 22.04 z/VM virtual machine.  Then, I used the following syntax:

cmsfs-fuse -t -o allow_other /dev/disk/by-path/ccw-0.0.0291 /mnt.  The result of this command will be
fuse: unknown option(s): `-o hard_remove'

Similarly: cmsfs-fuse -t /dev/disk/by-pa

[2022-05-05 07:24] svenschnelle commented on #131
The way how options are handled has changed in fuse3. Will provide a fix.

[2022-05-05 18:08] richardflewis commented on #131
Thank you very much!

Best regards,

Richard Lewis
IBM Washington System Center
z/VM, Linux for IBM Z, KVM for IBM Z

***@***.***

From: Sven Schnelle ***@***.***>
Sent: Thursday, May 5, 2022 3:24 AM
To: ibm-s390-linux/s390-tools ***@***.***>
Cc: Richard Lewis ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ibm-s390-linux/s390-tools] cmsfs-fuse fails to mount file systems on Ubuntu 22.

[2022-05-10 11:35] #130 closed

[2022-05-10 11:35] #131 closed

[2022-05-10 14:56] richardflewis commented on #131
Thank you very much!

Richard Lewis
IBM Washington System Center
z/VM, Linux for IBM Z, KVM for IBM Z

***@***.***

From: Jan Höppner ***@***.***>
Sent: Tuesday, May 10, 2022 7:36 AM
To: ibm-s390-linux/s390-tools ***@***.***>
Cc: Richard Lewis ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [ibm-s390-linux/s390-tools] cmsfs-fuse fails to mount file systems on Ubuntu 22.04 with error unk

[2022-05-10 16:36] frank-heimes commented on #131
Great - thx Jan, Richard and Sven.
I plan to pick issue [131](https://github.com/ibm-s390-linux/s390-tools/issues/131) with the next (first) s390-tools for jammy SRU ...

[2022-05-11 18:01] frank-heimes opened #132 "Adjust runlevels in dumpconf init.d script"
Hi, as default start runlevel ("# Default-Start:") the runlevels "0 1 2 3 5 6" are listed in etc/init.d/dumpconf
and no default runlevel for stop ("# Default-Stop:").

This is not really correct, therefore lintian (the static analysis tool for Debian packages, used by the Debian and Ubuntu projects) rightly complains about it with:
E: s390-tools: init.d-script-starts-in-stop-runlevel etc/init.d/du

[2022-05-12 11:21] hoeppnerj commented on #132
Thanks for pointing it out. I'll propose a patch internally and see where we end up.

[2022-05-12 16:16] hoeppnerj commented on #132
After looking a bit more into that, it seems to me that there is more to be cleaned up. For all the scripts that we have in [etc/init.d](https://github.com/ibm-s390-linux/s390-tools/tree/master/etc/init.d) there is a corresponding [systemd](https://github.com/ibm-s390-linux/s390-tools/tree/master/systemd) unit file. They all define `WantedBy=multi-user.target`. This corresponds to the runlevel 2,

[2022-05-17 11:25] #132 closed

[2022-05-17 11:33] hoeppnerj commented on #132
For completeness, these are the commits that are a result of resolving this issue (I should've added this issue to all of them, not just the one that changes the header):
https://github.com/ibm-s390-linux/s390-tools/commit/508253c66621d8a892e356d0a5ba39221c85fb12
https://github.com/ibm-s390-linux/s390-tools/commit/13fef6dbe03f06ede0ae82e0eabb871fb8895ccd
https://github.com/ibm-s390-linux/s390-tool

[2022-05-27 15:11] frank-heimes opened #135 "Moving some selected man pages from "1" to "8" since their tools are in sbin"
Would it make sense to consider moving the man pages for:
dbginfo.sh
lscpumf
lshwc
zfcpdbf
and
zipl-switch-to-blscfg
from "1" to "8"?
Since these tools are currently located in sbin (system binaries), which indicates them as system administration commands, but they currently belong to "1" (User commands).

Right now lintian (lintian -EvIL +pedantic) reports:
P: s390-tools: manual-page-for-system-c

[2022-05-30 13:36] steffen-maier commented on #135
I can only comment on zfcpdbf:
It is indeed a sysadmin command and makes use of /sys/kernel/debug/... which is only accessible to root. So I don't object to moving its man page to section 8 (rename [`scripts/zfcpdbf.1`](https://github.com/ibm-s390-linux/s390-tools/blob/master/scripts/zfcpdbf.1), update [`scripts/Makefile`](https://github.com/ibm-s390-linux/s390-tools/blob/master/scripts/Makefile);

[2022-05-30 15:15] ifranzki commented on #135
Regarding `zcryptstats`: It utilizes `/dev/chsc` which I guess can only be accessed by root. So it is intentionally a system command. Thus section 8 seems correct to me, the file is named `zcryptstats.8` and is installed into `man8`. Also, at least on my system, it is installed into `/usr/sbin` which seems correct, no?

But I see what's the problem. Inside the man page it claims to be in section 1

[2022-06-03 16:47] #135 closed

[2022-06-21 09:07] sharkcz opened #139 "ap-check system binary can't be in /etc"
With the introduction of the `ap-check` utility we have a problem that it is installed under `/etc/mdevctl.d/`, which is wrong. `/etc` is a place to store local modification of a system configuration. I see `mdevctl` doesn't currently offer a system-wide location, but it should be fixed for the future. The proper place could be `/usr/lib/mdevctl/...` similar to what `udev` or `systemd` use for the

[2022-06-21 09:15] sharkcz commented on #139
I have opened https://github.com/mdevctl/mdevctl/issues/63 for upstream discussion.

[2022-07-19 10:55] smitterl opened #140 "Missing manpages for new type 'ap'"
`lszdev --list-types` lists the new `ap` type. However, there's no mention of it in `chzdev`'s manpage. It has a very specific syntax, so I think at least we should add the following to the EXAMPLES section:

[code]

[2022-07-20 13:51] sharkcz opened #141 "ziomon: remove the packed attribute from structs"
Seem the use of `attribute((packed))` for ziomon's structs is not required for proper function of ziomon, see discussion in PR #137. Review and remove the attribute from the code.

[2022-07-21 14:18] Benjamin-Block commented on #141
@hoeppnerj probably better to assign this to @fedorloshakov, I'm just here to add my unqualified comments :wink:

But may that as it be, like I said in slack, I see value in this; if nothing else it should reduce some technical debt in ziomon by get rid of unnecessary, and thus confusing, attributes; if they turn out to be unnecessary upon closer evaluation.

Can't make any promises in terms of ti

[2022-08-11 14:15] lucab opened #142 "libap: please consider stop using liblockfile"
This project is currently using [liblockfile](https://github.com/miquels/liblockfile) for file-locking in `libap`.

That library is mainly targeted at mailbox locking, and it has a footprint which is quite larger than needed.
It also comes with a set-gid binary (to escalate privileges to the `mail` group) which is problematic from the security point of view of downstream distributions.
On this top

[2022-08-11 14:19] lucab commented on #142
I quickly looked into actually patching this out and I think it would be overall feasible in a non-invasive way.

Just as a reference, my current patch for this is at https://github.com/lucab/s390-tools/pull/1.
I can submit this if you want, but I'd also be happy if some usual developer could take this ticket and drive it to completion.
I don't have any s390x knowledge nor hardware, and I can't ac

[2022-08-16 15:05] hoeppnerj commented on #142
We're obviously happy to take PRs. But if testing is an issue, we can certainly take your code as a suggestion as well.
However, I'm still debating whether we actually want our own locking implementation. If so, it should probably
go into `libutil` rather than `libap`. I'm also wondering whether `flock(2)` from `util-linux` would be an alternative.

[2022-08-19 05:52] frank-heimes opened #143 "ELF binary ap-check in /etc is not conform with FHS"
Hello, the commit:
https://github.com/ibm-s390-linux/s390-tools/commit/2da206f5a6b3e0340027910a67dc48d8d9c83020
introduces the ELF binary 'ap-check' and places it in folder
'/etc/mdevctl.d/scripts.d/callouts/'.
But according to the Filesystem Hierarchy Standard https://refspecs.linuxfoundation.org/FHS_3.0/fhs-3.0.html#etcHostspecificSystemConfiguration
Refer to Section 3.7
ELF binaries are forbidd

[2022-08-19 12:30] hoeppnerj commented on #143
Duplicate of #139

[2022-08-19 12:30] #143 closed

[2022-08-19 12:31] hoeppnerj commented on #143
There was also an issue opened against mdevctl: https://github.com/mdevctl/mdevctl/issues/63

[2022-08-19 13:40] sharkcz commented on #142
seems `flock` is already used by the `chreipl-fcp-mpath` tools, I think it might be the alternative

[2022-08-19 13:49] lucab commented on #142
Having looked at the inner logic of the whole `liblockfile` library and the minuscule portion that `libap` effectively uses, my technical feedback is that yes you'd be better served by your own locking logic.
I can't really give feedback on how that should look like, possibly hand-rolling a flock-based one is indeed good enough.
Overall my patch was just to show that internal locking was feasible

[2022-08-23 11:30] frank-heimes commented on #143
Sorry for not having properly check the other open issues.
I think an mdevctl upstream solution would be best, hence I'll subscribe to mdevctl/mdevctl#63 too.
As of now, such a wrapper script can be (an is for us) a valid and FHS conform short term workaround.

[2022-08-24 17:05] hoeppnerj commented on #139
Even though I've closed the issue as duplicate @frank-heimes suggested a wrapper as a short-term solution: See https://github.com/ibm-s390-linux/s390-tools/issues/143

Putting it in here so it doesn't get lost as it might be worth considering. Thoughts @rosatomj ?

[2022-08-24 18:36] rosatomj commented on #139
Sounds like that approach works to solve Frank's issue (and FWIW I did also test Frank's approach against automated tests just now and it seems to work fine).  Maybe it's a possible workaround here too to at least get the binary out of `etc` but I don't think it addresses Dan's core concern of "`/etc` is a place to store local modification of a system configuration" --  The only way to address tha

[2022-08-24 19:03] rosatomj commented on #142
Hmm, I don't think `flock` will work.

The current `liblockfile` usage for s390-tools boils down to:

1) allow `chzdev` and `lszdev` to acquire the file lock when doing certain commands related to the 'ap' type.  This is straightforward and flock would be a reasonable alternative in this case.

2) allow `ap-check` to acquire a file lock _on behalf of `mdevctl`_ (e.g. acquire lock using parent pid)

[2022-08-24 20:03] dustymabe commented on #142
Does https://github.com/lucab/s390-tools/pull/1 satisfy those requirements?

[2022-08-24 20:27] rosatomj commented on #142
Having to incorporate our own file locking is a bit of a bummer, but at a glance I think that yes that PR has the necessary pieces from `liblockfile` -- though I need to further review/test/verify that.  It likely needs some minor tweaking too (e.g. may as well generalize it outside of `libap` as Jan mentioned above) -- assuming @hoeppnerj is OK with it I can take care of the minor changes on top

[2022-11-09 15:14] #142 closed

[2022-11-09 17:49] hoeppnerj commented on #142
Maybe to ensure everyone gets the full picture. We've now implemented our own locking logic which is provided through
[libutil/util_lockfile](https://github.com/ibm-s390-linux/s390-tools/blob/master/libutil/util_lockfile.c) (See also: https://github.com/ibm-s390-linux/s390-tools/commit/e1aec24e843689524b470081fd46e67593161edd) (Thanks @rosatomj ).

Adapting the suggestion (pull request) by @lucab

[2022-11-10 10:27] lucab commented on #142
Thanks! For our own future reference, the fix for this went into release `v2.24.0`.

[2022-11-25 15:11] sharkcz opened #144 "zgetdump relinked in install phase"
With the recent changes to the `zgetdump` tool (reading PV dumps) the `zgetdump` binary is being relinked in the `make install` phase. I suppose it's because the dependency checks (fuse, glib2, openssl, zlib) say so. As a result it's not linked with the proper (system-wide) linker flags and the resulting binary doesn't pass our post-build checks.

The relinking happens in both Fedora and RHEL, but

[2022-11-25 16:00] sharkcz commented on #144
cc @mhartmay

[2022-11-28 13:18] mhartmay commented on #144
@sharkcz
Thanks for reporting - there will be a fix either today or tomorrow.

[2022-11-29 16:10] #144 closed

[2022-11-30 14:53] #139 closed